<div class="footer">
    <div class="left">
      © 2025 Tetris Game by Ihor Chornyi. 
    </div>
    <div class="center">
      <a href="#" class="link" (click)="openRulesModal($event)">Правила гри</a>
    </div>
    <div class="right">
      Version 1.0.0 -Усі права захищені.
    </div>
</div>

<!-- Модальне вікно -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeRulesModal()">&times;</span>
    <h2>Правила гри</h2>
    <div class="rules-content" [innerHTML]="rulesContent"></div>
  </div>
</div>